{%extends 'base.html'%}
{%block content%}
<div id="about">
    <div id="about__introduce">
        <section id="about__profile">
            <h1>ABOUT ME.</h1>
            <div class="introduce__detail">
                <ul class="about__list">
                    <li>강리아 (Lia Kang)</li>
                    <li>2014 숙명여자대학교 회화과 서양화전공 졸업</li>
                    <li>2016 숙명여자대학교 일반대학원 조형예술학과 서양화전공 석사 졸업</li>
                    <li>2020~ ‘작가의 방 미술’ 스튜디오 운영중</li>
                </ul>
            </div>
        </section>
        <section id="about__solo_exhibition">
            <h1>SOLO EXHIBITION</h1>
            <ul class="about__list">
                <li>2015 8월 홍대 SEDEC art gallery 제 1회 개인전 </li>
                <li>2015 성수동 카페 레필로소피 ‘Fantasia'전 </li>
                <li>2016 1월 숙명여자대학교 청파갤러리 석사청구 ‘탐貪 하다’전 </li>
                <li>2018 5월 분당 서현동 N갤러리 개인전</li>
                <li>2019 5월 청년문화공간 ju 동교동, 스페이스갤러리, ‘그리고 구겨진’전 </li>
                <li>2020 9월 삼청동 갤러리 3안 ‘그때 누구나였던’전</li>
            </ul>
        </section>
        <section id="about__group_exhibition">
            <h1>GROUP EXHIBITION</h1>
            <ul class="about__list">
                <li>2014 미술과 비평 제 1회 전국미술대학 공모전 입선작 전시</li>
                <li>2015 4월 전주 우진문화공간‘樂&roll' 전</li>
                <li>2015 7월 서울 문화역서울 284 아시아프 참여작가전</li>
                <li>2015 8월 서울 갤러리 M '인사동 피서‘전</li>
                <li>2016 1월 평창동 가나아트 센터, 서울옥션 주관 ‘cutting edge100’ 전</li>
                <li>2016 9월 인사동 공평갤러리‘인사동 열매’전</li>
                <li>2016 중구 스페이스 아트1 '필동아트마켓' 참여</li>
                <li>2017 2월 합정 갤러리메이 ‘냉소적 긍정’전</li>
                <li>2017 5월 서울예술의전당 한가람 미술관 서울모던아트쇼 아트마이닝 부스전시</li>
                <li>2017 8월 서울 중구 갤러리 M ‘인사동 열'전</li>
                <li>2018 7월 제주 문예회관 청년작가전</li>
                <li>2018 8월 서울 삼청동 갤러리 코소 제 1회 ‘소작’전</li>
                <li>2018 8월서울 인사동 갤러리 일호 ‘날개’전</li>
                <li>2019 서울 롯데백화점 본관 vip라운지 ‘hello,spring’전</li>
                <li>2019 7월 서울 DDP 디자인둘레길 2019아시아프 선정작가전</li>
                <li>2019 9월 경기 고양스타필드 ‘아트락페스티벌’전</li>
                <li>2019 10월 안산 예술의전당 ‘안산국제아트페어’ 청년작가 초대전</li>
                <li>2020 1월 서울 조선일보미술관 ‘아시아프애프터’ 20인 전</li>
                <li>2020년 1월 성남 미누현대미술관 제 3회 ‘영아티스트’전 </li>
            </ul>
        </section>
    </div>
</div>
{%endblock content%}