<header class="header">
    <nav class="nav__menu">
        <span class="nav__title"><a href="{%url 'core:home'%}">LIA KANG</a></span>
        <ul class="nav__menulist">
            <li class="menu__link"><a id="home-menu" class="is-menuactive" href="{%url 'core:home'%}">HOME</a></li>
            <li class="menu__link"><a id="about-menu" href="{%url 'core:about'%}">About</a></li>
            <li class="menu__link"><a id="works-menu" href="{%url 'works:works'%}">Works Notes</a></li>
        </ul>
    </nav>
    <i class="fas fa-bars"></i>
    <nav class="nav__toggle">
        <i class="fas fa-times"></i>
        <div class="toggle__menu">
            <a href="{%url 'core:home'%}">HOME</a>
            <a href="{%url 'core:about'%}">About</a>
            <a href="{%url 'works:works'%}">Works Notes</a>
        </div>
    </nav>


</header>